body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.card {
  width: 360px;
  height: 640px;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  .card .cardMain {
    width: 100%;
    height: 70%;
    position: relative;
    background-color: #607D8B;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
    .card .cardMain h1 {
      color: white;
      margin: 0;
      padding: 12px 0 6px 12px; }
    .card .cardMain p {
      color: #B2DFDB;
      margin: 0;
      padding: 6px 0 6px 12px; }
  .card .fab {
    z-index: 5;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: #FF5722;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.6s; }
    .card .fab i {
      width: 25px;
      height: 25px;
      color: white;
      transform: translateY(50%) translateX(50%) rotateY(180deg);
      -moz-transition: all 0.6s;
      -webkit-transition: all 0.6s; }
  .card .fabActive {
    animation: fabAnimateOpen 0.6s forwards; }
    .card .fabActive i {
      animation: none;
      display: none; }
  .card .fabInactive {
    -moz-animation: fabAnimateClose 0.6s forwards;
    -webkit-animation: fabAnimateClose 0.6s forwards; }
    .card .fabInactive i {
      animation: fabIconAnimate 0.7s; }
  .card .fabLayer {
    z-index: 6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
  .card .fabLayerActive {
    display: block;
    transition: all 0.7s ease-in-out; }
    .card .fabLayerActive .fabClose {
      animation: rotateIn 0.7s;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 25px;
      right: 25px;
      border-radius: 50px;
      cursor: pointer; }
      .card .fabLayerActive .fabClose:hover {
        background-color: rgba(0, 0, 0, 0.05); }
        .card .fabLayerActive .fabClose:hover:active {
          background-color: rgba(0, 0, 0, 0.1); }
      .card .fabLayerActive .fabClose i {
        color: white;
        transform: scale(1.5) translateY(35%) translateX(35%); }
    .card .fabLayerActive .fabContent {
      animation: fadeIn 0.6s;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100px;
      right: 0px;
      list-style: none;
      width: 100%; }
      .card .fabLayerActive .fabContent li {
        text-align: right;
        padding: 12px 25px 12px 0;
        font-size: 18px;
        color: white;
        cursor: pointer; }
        .card .fabLayerActive .fabContent li:hover {
          background-color: rgba(0, 0, 0, 0.05); }
        .card .fabLayerActive .fabContent li:active {
          background-color: rgba(0, 0, 0, 0.1); }
        .card .fabLayerActive .fabContent li a {
          display: block;
          text-decoration: none;
          color: white;
          -webkit-color: white;
          -webkit-text-decoration: none; }

@keyframes rotateIn {
  0% {
    transform: translateX(-25%) rotate(-90deg);
    opacity: 0; }
  50% {
    transform: translateX(-25%) rotate(-90deg);
    opacity: 0; }
  100% {
    transform: translateX(0%) rotate(0deg);
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    transform: translateX(-10%);
    opacity: 0; }
  50% {
    transform: translateX(-10%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }
@keyframes fabIconAnimate {
  0% {
    opacity: 0; }
  70% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fabAnimateOpen {
  25% {
    transform: scale(1); }
  50% {
    bottom: 45%;
    right: 45%; }
  100% {
    transform: scale(25);
    bottom: 45%;
    right: 45%; } }
@keyframes fabAnimateClose {
  0% {
    transform: scale(25);
    bottom: 45%;
    right: 45%; }
  50% {
    bottom: 45%;
    right: 45%; }
  75% {
    transform: scale(1); }
  100%; }
@media only screen and (max-width: 768px) {
  .card .fabLayerActive .fabClose:hover {
    background-color: transparent; }
  .card .fabLayerActive .fabClose:active {
    background-color: rgba(0, 0, 0, 0.05); }
  .card .fabLayerActive .fabContent li:hover {
    background-color: transparent; }
  .card .fabLayerActive .fabContent li:active {
    background-color: rgba(0, 0, 0, 0.05); } }

/*# sourceMappingURL=main.css.map */
